version: "3.8"

services:
  todo-service:
    build:
      context: ./todo_app
    image: todo-service:latest
    container_name: todo-service
    ports:
      - "8000:80"
    volumes:
      - todo_data:/app/data

  shorturl-service:
    build:
      context: ./shorturl_app
    image: shorturl-service:latest
    container_name: shorturl-service
    ports:
      - "8001:80"
    volumes:
      - shorturl_data:/app/data

volumes:
  todo_data:
  shorturl_data:
